@*HocHam*@

@using QuanLyGiaoVien.Models;
@model IEnumerable<HOCHAM>

@{ ViewBag.Title = "HocHam";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="table-agile-info">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Quản Lý Học Hàm</h2>
        </div>
        <div>
            <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>

                <p>
                    @Html.ActionLink("Create new", "Create")

                </p>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.MaHH)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TenHH)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MaDM)
                        </th>

                    </tr>

                    @foreach (var item in Model)
                    {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaHH)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenHH)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaDM)
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.MaHH }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.MaHH })
                    </td>
                </tr>
                    }

                </table>

