@*BÔMN*@

@using QuanLyGiaoVien.Models;
@model IEnumerable<CHUCVUCQ>

@{ ViewBag.Title = "Chức vụ chính quyền";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="table-agile-info">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Quản Lý Chức vụ chính quyền</h2>
        </div>
        <div>
            <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>

                <p>
                    @Html.ActionLink("Create new", "Create")

                </p>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.MaCVCQ)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TenCVCQ)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MaDTMG)
                        </th>

                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaCVCQ)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TenCVCQ)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaDTMG)
                            </td>

                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.MaCVCQ }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.MaCVCQ })
                            </td>
                        </tr>
                    }

                </table>

