@*DTGD*@

@using QuanLyGiaoVien.Models;
@model IEnumerable<DOITUONGGD>

@{ ViewBag.Title = "DTGD";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="table-agile-info">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Quản Lý Đối Tượng Giảng Dạy</h2>
        </div>
        <div>
            <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>

                <p>
                    @Html.ActionLink("Create new", "Create")

                </p>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.MaDT)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TenDoiTuong)
                        </th>
                       
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaDT)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TenDoiTuong)
                            </td>
                        
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.MaDT }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.MaDT })
                            </td>
                        </tr>
                    }

                </table>

