@model QuanLyGiaoVien.Models.GIAOVIEN
@{ ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xóa</h2>

<h3>Bạn có thực sự muốn xóa giáo viên này không?</h3>
<div>
    <h4>Xóa Giáo Viên</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaGV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaGV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaBM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaBM)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TenGV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenGV)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TiLeMG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TiLeMG)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>}
</div>
