@*GIAOVIEN*@

@using QuanLyGiaoVien.Models;
@model IEnumerable<GIAOVIEN>

@{ ViewBag.Title = "Giáo Viên";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="table-agile-info">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Quản Lý Giáo Viên</h2>
        </div>
        <div>
            <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>

                <p>
                    @Html.ActionLink("Create new", "Create")

                </p>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.MaGV)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MaBM)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TenGV)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.GioiTinh)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NgaySinh)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DiaChi)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TiLeMG)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SDT)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        

                    </tr>

                    @foreach (var item in Model)
                    {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaGV)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaBM)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenGV)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GioiTinh)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgaySinh)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiaChi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TiLeMG)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SDT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                  

                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.MaGV }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.MaGV })
                    </td>
                </tr>
                    }

                </table>

